html {
  box-sizing: border-box;

}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin:100px auto;
  max-width: 600px;
  font-family: lato, sans-serif;
  background-image: url("../public/money_wallpaper.jpg");
  background-size: cover;
  background-repeat:repeat-y
}

